<ul class="nav nav-pills nav-stacked nav-bracket">
        <li><a href="#accountGroups"><i class="fa fa-home"></i> <span>{{locale.masters}}</span></a>
        <ul class="children" style="display: block">
            <li><a href="#accountGroups"><i class="fa fa-caret-right"></i>{{locale.accountGroups}}</a></li>
            <li class="active"><a href="#accountSubGroups"><i class="fa fa-caret-right"></i>{{locale.accountSubGroups}}</a></li>
            <li><a href="#accountHead"><i class="fa fa-caret-right"></i> {{locale.accountHead}}</a></li>
            <li><a href="#company"><i class="fa fa-caret-right"></i>{{locale.company}}</a></li>
            <li><a href="#itemGroup"><i class="fa fa-caret-right"></i>{{locale.itemGroups}} </a></li>
            <li><a href="#itemSubGroup"><i class="fa fa-caret-right"></i>{{locale.itemSubGroups}}</a></li>
            <li><a href="#itemMaster"><i class="fa fa-caret-right"></i>{{locale.itemMaster}}</a></li>
            <li><a href="#made"><i class="fa fa-caret-right"></i>{{locale.made}}</a></li>
            <li><a href="#priceEnquiry"><i class="fa fa-caret-right"></i>{{locale.priceEquity}}</a></li>
            <li><a href="#unitMaster"><i class="fa fa-caret-right"></i>{{locale.unitMaster}}</a></li>
          </ul>
        </li>
        <li><a href="#purchaseOrder"><i class="fa fa-envelope-o"></i> <span>{{locale.inventory}}</span></a>
        <ul class="children" style="display: block">
            <li><a href="#purchaseOrder"><i class="fa fa-caret-right"></i>{{locale.purchaseOrder}}</a></li>
            <li class="active"><a href="#purchaseReceiving"><i class="fa fa-caret-right"></i>{{locale.purchaseReceiving}}</a></li>
            <li><a href="#sales"><i class="fa fa-caret-right"></i>{{locale.sales}}</a></li>
            <li><a href="#salesReturn"><i class="fa fa-caret-right"></i>{{locale.salesReturn}}</a></li>
            <li><a href="#purchaseReturn"><i class="fa fa-caret-right"></i>{{locale.purchaseReturn}}</a></li>
            <li><a href="#damagedStock"><i class="fa fa-caret-right"></i> {{locale.damagedStocks}}</a></li>
            <li><a href="#openingStock"><i class="fa fa-caret-right"></i>{{locale.openingStocks}}</a></li>
          </ul>
        </li>
        <li class="nav-parent nav-active active"><a href="#"><i class="fa fa-edit"></i> <span>{{locale.salesReturn}}</span></a></li>
        <li><a href="layouts.html"><i class="fa fa-laptop"></i> <span>{{locale.purchaseReturn}}</span></a></li>
        <li><a href="layouts.html"><i class="fa fa-laptop"></i> <span>{{locale.stockReports}}</span></a></li>
        <li><a href="layouts.html"><i class="fa fa-laptop"></i> <span>{{locale.txnVouchers}}</span></a></li>
        <li><a href="layouts.html"><i class="fa fa-laptop"></i> <span>{{locale.financialStmt}}</span></a></li>
        <li><a href="layouts.html"><i class="fa fa-laptop"></i> <span>{{locale.tools}}</span></a></li>
      </ul>